/* Core design colors */

$c-body: #F7F7F7;
$c-primary: #000080;
$c-light-blue: #007bff;
$c-extralight-blue: #e6eef7;
$c-extralight-orange: #F8EBE8;
$c-extralight-yellow: #F8F6E8;
$c-secondary: #303030;
$c-grey: #6c757d; /* Bootstrap text-secondary color */
