html {
    font-size: 110%;
}

body {
    padding-top: 56px;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: $c-primary;
    font-size: 1rem;
    background: $c-body;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        text-align: left;
    }
}

main {
    flex-grow: 1;
}

/* Headings */

h2 { font-size: 1.6rem; text-transform: uppercase; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.1rem; }
h1, h2, h3, h4, h5, .display-1, .display-2, .display-3 { font-weight: bold; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: none; }

// Display versions for the title page
.display-1 { font-size: 4.1rem; }
.display-2 { font-size: 2.3rem; text-transform: none; }
.display-3 { font-size: 1.6em; margin: 0rem}

// Fix anchor links
h1::before, h2::before, h3::before, h4::before {
    display: block;
    visibility: hidden;
    height: 7rem;
    margin-top: -7rem;
    content: " ";
}

/* Links */

a {
    color: $c-primary;
    text-decoration: underline;
    cursor: pointer;
}

.ext-link:after, .glossary-link:after {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f35d";
    margin-left: 0.3em;
    font-size: 70%;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    position: relative;
    top: -0.1em;
}

// Smaller external link icon in lead text
.lead .ext-link:after {
    font-size: 55%;
}

// No external link icon if manually specified
.no-ext-link-icon:after {
    content: none;
}

// Book icon instead of external link in glossary links
.glossary-link:after {
    content: "\f02d";
    top: 0;
    font-size: 100%;
}

/* Textual elements */

p, li, dd {
    text-align: justify;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: bold;
}

pre {
    margin: 1rem 0 1rem 0;
    background: rgba(0,0,0,0.05);
    border-radius: 0.3rem;
    padding: 1rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* Structure elements: section, ul, table, img text */

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media screen and (max-width: 576px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.section:nth-of-type(odd) {
    background: white;
}

ul:last-child {
    margin-bottom: 0;
}

.table {
    table {
        margin-left: auto;
        margin-right: auto;
    }

    thead {
        background-color: rgba(0,0,0,.05);
    }

    &-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.02);
    }

    &-hover tbody tr:hover {
        background-color: rgba(0,0,0,.05);
    }
}

img.text-img {
    width: 100%;
    max-width: 600px;
    margin: 10px auto 10px auto;
    display: block;
}

/* Buttons */

.btn {
    text-decoration: none;
    margin: 0 0.25em 0.5rem 0.25em;
}

.btn-group .btn {
    margin-left: 0;
    margin-right: 0;
}

.btn-primary {
    color: #fff;
    background-color: $c-primary;
    border-color: $c-primary;

    &:hover {
        color: #fff;
        background-color: $c-light-blue;
        border-color: $c-light-blue;
    }
}

.btn-outline-primary {
    color: $c-primary;
    border-color: $c-primary;

    &:hover {
        background-color: $c-light-blue;
        border-color: $c-light-blue;
    }
}

.btn-secondary {
    background-color: transparent;
    color: $c-primary;
    border-color: $c-primary;

    &:hover {
        background-color: $c-primary;
        color: $c-body;
    }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $c-light-blue;
    border-color: $c-light-blue;
}

/* Navigation bar */

.navbar {
    background: $c-body;
    top: 0;
    transition: top 300ms;
    flex-direction: column;
    padding: 0;

    a {
        text-transform: uppercase;
        text-decoration: none;
    }

    &-scrolled {
        box-shadow: 0 3px 10px #e2e2ff;
    }

    &-brand {
        padding-left: 2rem;
        font-size: 1.15rem;
        background-image: url(/assets/img/favicon.png);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: left;
    }
}

.navbar .container {
    padding: 0.5em 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: $c-primary;

    &:focus, &:hover {
        color:  #000000;
    }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    font-weight: bold;
    color: $c-primary;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Footer */

footer {
    flex-shrink: 1;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    background: rgba(0,0,0,0.05);
    color: $c-secondary;

    > .container {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: $c-secondary;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
}

/* Collapssible sections in texts. */

details {
    padding-right: 2rem;
    padding-left: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: rgba(255, 255, 255, 0.5);

    + details {
        border-top: 0;
    }

    > summary {
        padding: 0.75rem 0 0.75rem 0;

        &::marker {
            content: "⯆";
        }

        h2, h3, h4 {
            display: inline;
            margin-left: 0.5em;
        }
    }

    > summary:hover {
        color: #0056b3;
    }

    &[open] {
        padding-bottom: 1.5em;

        > summary {
            margin-bottom: 0.25em;
        }

        > summary::marker {
            content: "⯅";
        }
    }

    h2, h3, h4, p {
        margin-left: 1.75rem;
    }

    + h2, + h3, + p, + ul {
        margin-top: 1rem;
    }
}
