.explainer-cover {
    padding-bottom: 1rem;
}

.cover-header {
    padding-top: 33.33%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explainer-perex {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.explainer-metadata {
    font-size: 1.1rem;
    text-align: right;

    .author {
        font-weight: bold;
    }

    .date::before {
        content: "•";
        font-weight: bold;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .tags {
        float: left;
    }
}
