.cover-header {
    padding-top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explainer-perex {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.explainer-metadata {
    font-size: 1.1rem;
    margin-top: 1rem;

    .author {
        font-weight: bold;
        padding-right: 1.5rem;
    }

    .tags {
        margin-top: 1rem;
    }
}
