/* Intro page customizations */

.intro {
    padding-bottom: 0;

    .tagline {
        text-transform: uppercase;
        text-align: right;
        float: left;
        width: 15.2rem;
        margin-top: 1rem;
    }

    p {
        font-size: 1.5rem;
        padding-left: 19rem;
        margin-top: -3.5rem;
    }

    .tags-list {
        padding-left: 19rem;
    }

    @media screen and (max-width: 768px) {
        .tagline {
            float: none;
            text-align: center;
            display: inline-block;
            width: 100%;
            word-spacing: 0;
            margin-bottom: 1rem;
        }

        h1 {
            text-align: center;
        }

        p {
            padding-left: 0;
            margin-top: 0;
            text-align: center;
        }

        .tags-list {
            padding-left: 0;
            text-align: center;
        }
    }
}

.card {
    margin: 15px 0 15px 0;
    border-width: 2px;
}

.preview-card {
    text-decoration: none;
    text-align: left;
    // enforce 10:7 aspect ratio
    height: 0;
    padding-bottom: 70%;
    overflow: hidden;
}

a.preview-card:hover {
    border-color: rgba($c-primary, 0.5);
    text-decoration: none;
}

.card-dataset-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: auto;
}

.more-overlay-box {
    overflow: hidden;
    background-image: radial-gradient(white 30%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;

    i { // Font Awesome icon
        padding-bottom: 0.2em;
        font-size: 300%;
    }
}

/* Tabs for role-specific links */

.bg-extralight-blue { background: $c-extralight-blue !important; }
.bg-extralight-green { background: $c-extralight-orange !important; }
.bg-extralight-red { background: $c-extralight-yellow !important; }

.nav-tabs .nav-link {
    border: 0;
    margin: 0 10px 0 0;
    padding: 0.5em 1em;
    cursor: pointer;
}

/* Accordion of topics covered */

.accordion-item {
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.accordion-item:last-child {
    border: none;
}

.accordion-header {
    cursor: pointer;
    padding: 1rem 0;
    margin-bottom: 0;
}

.accordion-header .fa {
    transition: .3s transform ease-in-out;
  }

.accordion-header.collapsed .fa {
    transform: rotate(180deg);
}

/* Carousel with successes */

.carousel-caption {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20% 50px 20%;
}

.payment-box {
  display: none;
  #payment-table {
    margin-bottom: 20px;

    th {
      text-align: right;
      padding: 5px 10px;
    }

    td {
      padding: 5px 10px;
      border-left: 1px solid #a0a0d0;
    }
  }
}