/* Intro page customizations */

.intro {
    .tagline {
        text-transform: uppercase;
        text-align: right;
        float: left;
        width: 15.2rem;
        margin-top: 1rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
        padding-left: 19rem;
        margin-top: -3.5rem;
    }

    .tags-list {
        padding-left: 19rem;
    }

    @media screen and (max-width: 768px) {
        .tagline {
            float: none;
            text-align: center;
            display: inline-block;
            width: 100%;
            word-spacing: 0;
            margin-bottom: 1rem;
        }

        h1 {
            text-align: center;
        }

        p {
            padding-left: 0;
            margin-top: 0;
            text-align: center;
        }

        .tags-list {
            padding-left: 0;
            text-align: center;
        }
    }
}

.preview-card {
    margin: 15px 0 15px 0;
    border-width: 2px;
    text-decoration: none;
    text-align: left;
    // enforce 10:7 aspect ratio
    height: 0;
    padding-bottom: 70%;
}

a.preview-card:hover {
    border-color: rgba($c-primary, 0.5);
    text-decoration: none;
}

.card-dataset-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: auto;
}

// Temporary solution to not force aspect ratio here
// Page links will probably not be cards in the future

.page-link-card {
    height: auto;
    padding-bottom: 0;
}

.more-overlay-box {
    overflow: hidden;
    background-image: radial-gradient(white 30%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;

    i { // Font Awesome icon
        padding-bottom: 0.2em;
        font-size: 300%;
    }
}

.section-new {
    background: $c-primary-extra-lighten;
}

.news-overlay-box {
    background-color: $c-primary-extra-lighten;;
}
