/* Infographic page customizations */

a.infographic {
    display: block;
    overflow: hidden;
}

/* We cut ~3.5% from sides, ~13.5% from top and 5.3% from bottom */
/* Note that all margin percentages bind to the _width_ */
img.infographic {
    margin: -7.3% -3.5% -4.3% -3.5%;
    max-width: 107%;
}

p.caption {
    font-size: 1.25rem;
    font-style: italic;
}

p.perex {
    font-size: 1.25rem;
}

.downloads-box {
    margin-top: 1rem;

    h2 {
        margin-top: 0;
        font-size: 1.35rem;
    }

    p {
        text-align: left;
        font-size: 0.91rem;
    }
}

.dropdown-links a {
    text-decoration: none;
}

.btn-sharing svg {
  width: 1em;
  height: 1.5em;
  margin: 0;
  vertical-align: middle;
  fill: #fff;
  stroke: none;
}

#sharing-embed svg {
    width: 1.3em;
    height: 1.3em;
}

.embed-example-caption {
    font-style: italic;
    padding: 1rem;
    border-width: 2px;
    border-radius: 0.3rem;
    border-style: solid;
    border-color: rgba(0,0,0,0.05);
    margin: 1rem 0 -1rem 0;
}

@media (max-width: 1199.98px) {
    .longread-toc-none {
        // Keep it visible for the largest size so that it does not break the
        // central alignment of the .longread box.
        display: none;
    }
}

.longread {
    font-size: 1.1rem;

    h2 {
        font-size: 1.75rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.sticky-toc {
    margin-bottom: 2rem;

    h2::before {
        height: 5px;
        margin-top: -5px;
    }

    h2 {
        font-size: 1.3rem;
        letter-spacing: 0.04em;
    }

    a {
      text-decoration: none;
    }

    h2, li, a:not(:hover) {
        color: $c-grey;
    }

    li {
        text-align: left;
    }

    li {
        text-align: left;
    }

    ol {
        padding-left: 1rem;

        ol {
            padding-left: 2rem;
            list-style-type: lower-alpha;
        }
    }

    .is-active-li .is-active-link, .is-active-li::marker {
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .sticky-toc {
        position: sticky;
        position: -webkit-sticky;
        top: 56px;
        left: 100px;
    }
}

.longread-box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem;
    border-left: 0.15rem solid rgba(0,0,0,0.2);
    font-size: 1rem;
    line-height: 1.5em;

    h4 {
        margin-top: 0;
    }
    p {
        text-align: left;
    }
    .row {
        margin: 0.5rem 0 0;
    }
    .card {
        margin: 0;
    }
}

.preview-box {
    float: right;
    clear: right;
    width: 55%;
    margin-left: calc(-25px + 2rem);
    position: relative;
    left: 25px;
}

.highlight-text-box {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
}

.wider-box {
    width: 70%;
}

@media (min-width: 1200px) {
    .container-xl-fluid {
        max-width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
    }
    .longread-xl-space-left {
        flex: 3 0 0;
    }
    .longread-toc {
        flex: 4 0 240px;
    }
    .longread-xl-space-middle {
        flex: 3 0 0;
    }
    .longread {
        flex: 3 0 640px;
        line-height: 1.6em;
    }
    .longread-xl-space-right {
        flex: 10 0 240px;
    }

    .preview-box {
        width: 60%;
        position: relative;
        left: 40%;
        margin-left: calc(-40% + 2rem);
    }

    .wider-box {
        width: 75%;
        position: relative;
        left: 40%;
        margin-left: calc(-40% + 2rem);
    }
}

@media (max-width: 1199.98px) {
    .wider-box {
        width: 90%;
        margin: 0.5rem 5%;
        position: static;
    }
}

@media (max-width: 767.98px) {
    .wider-box {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media (max-width: 575.98px) {
    .preview-box {
        width: 100%;
        position: static;
    }
}
