/* Customizations of news page */

.news-item {
    border-width: 0 0 0 2px;
    border-style: solid;
    padding-left: 1rem;
    padding-bottom: 1rem;

    h2 {
        margin-bottom: 0;
    }

    .date {
        width: 6em;
        vertical-align: top;
        padding-right: 1rem;
        margin-bottom: 0.2rem;
        color: $c-secondary;

        &:before {
            content: "\2022";
            display: block;
            line-height: 0;
            position: relative;
            left: -0.5em;
            top: 0.18em;
            font-size: 3em;
            color: $c-primary;
        }
    }


    @media screen and (min-width: 768px) {
        .summary {
            width: calc(100% - 7em);
        }
    }
}

.subscription-form .btn {
    margin-bottom: 0;
}
