# Generated web files
assets/generated/*
assets/studies/*
#assets/datasets/* # currently commited to repo

# Build Jekyll site
_site/*
.cache/*

# Local bundle configuration and gems
.bundle
vendor

# Temporary files
Gemfile.lock
*~

# IDE files
.idea
.vscode
