# Generated web files
assets/infographics/*
assets/studies/*
#assets/datasets/* # currently commited to repo

# Build Jekyll site
_site/*
.cache/*

# Temporary files
Gemfile.lock
*~

# IDE files
.idea
.vscode
