# Local Jekyll config file (will be appended after master)

# Site settings
title: "Fakta o klimatu"
url: https://faktaoklimatu.cz
email: info@faktaoklimatu.cz
github: faktaoklimatu/web-cz
twitter: "faktaoklimatu"
newsletter: "https://tinyletter.com/faktaoklimatu/subscribe"
fundraising: "https://www.darujme.cz/projekt/1203742"
author: faktaoklimatu.cz
copyright: "&copy; 2021 Otevřená data o klimatu, z. ú."
description: Shromažďujeme data o klimatu a klimatické změně, která poskytují vědecké instituce a zpracováváme z nich grafy a infografiky pro další použití.
keywords: klima, změna klimatu, infografiky

slugs:
  infographics: infografiky
  studies: studie
  datasets: datasety
  topics: temata
  glossary: slovnik
  how-to-use: jak-pouzivat
  news: aktuality

# Set permalinks in local language
collections:
  pages:
    output: true
    permalink: /:title
    title: stránky
    weight: 0
  explainers:
    output: true
    permalink: /explainery/:title
    title: explainery
    weight: 1
  infographics:
    output: true
    permalink: /infografiky/:title
    title: infografiky
    weight: 2
  studies:
    output: true
    permalink: /studie/:title
    title: studie a rešerše
    weight: 3
  datasets:
    output: true
    permalink: /datasety/:title
    title: datasety
    weight: 4

# Set topic permalinks in local language
jekyll-archives:
  enabled: [ "tags" ]
  layouts:
    tag: tag
  permalinks:
    tag: '/temata/:name/'
  collections:
    merge_tags: true

# Enable Czech smart quotes
kramdown:
  math_engine: katex
  smart_quotes: sbquo,lsquo,bdquo,ldquo
