# Local Jekyll config file (will be appended after master)

# Site settings
lang: "cs"
title: "Fakta o klimatu"
url: https://faktaoklimatu.cz
email: info@faktaoklimatu.cz
github: faktaoklimatu/web-cz
twitter: "faktaoklimatu"
facebook: "faktaoklimatu"
linkedin: "68480136"
instagram: "faktaoklimatu"
threads: "faktaoklimatu"
bluesky: "faktaoklimatu.cz"
youtube: "UCpW-nPyjH68BUfAjzhk7O_Q"
newsletter: "9-54057be166928eb6fcc57504dc847797"
fundraising: "https://www.darujme.cz/projekt/1203742?utm_source=web_obecny_cz&utm_medium=web&utm_campaign=general_2025"
author: faktaoklimatu.cz
copyright: "Otevřená data o klimatu, z. ú."
description: Shromažďujeme data o klimatu a klimatické změně, která poskytují vědecké instituce a zpracováváme z nich grafy a infografiky pro další použití.
keywords: klima, změna klimatu, infografiky

deploy:
  firebase-project: cz-fakta-o-klimatu
  cors-report-uri: https://nkas07xe.uriports.com

slugs:
  contact: o-nas#kontaktni-udaje
  datasets: datasety
  glossary: slovnik
  how-to-use: jak-pouzivat
  further-sources: zdroje
  about: o-nas
  # Uncomment and edit for any other posted hiring in the future.
  # See https://github.com/faktaoklimatu/web-cz/pull/1371 for a reference hiring page.
  # hiring: hledame-COO

collections_dir: collections
# Set permalinks in local language
collections:
  pages:
    output: true
    permalink: /:title
    title: stránky
    weight: 0
  topics:
    output: true
    permalink: /temata/:title
    title: témata
    weight: 1
  explainers:
    output: true
    permalink: /explainery/:title
    title: explainery
    weight: 2
  infographics:
    output: true
    permalink: /infografiky/:title
    title: infografiky
    weight: 3
  studies:
    output: true
    permalink: /studie/:title
    title: studie a rešerše
    weight: 4
  datasets:
    output: true
    permalink: /datasety/:title
    title: datasety
    weight: 5
  episodes:
    output: false
    permalink: /epizody/:title
    title: epizody
    weight: 6

# Enable Czech smart quotes
kramdown:
  math_engine: katex
  smart_quotes: sbquo,lsquo,bdquo,ldquo
  footnote_backlink: "↩︎"

local-scripts:
  - "/assets-local/js/dotaznik.js"
