<div
    class="card"
    data-name="{{ include.name }}"
    data-fossil="{{ include.fossil }}"
    data-nuclear="{{ include.nuclear }}"
    data-renewables="{{ include.renewables }}"
    data-production="{{ include.production }}"
    data-net-imports="{{ include.net-imports }}"
    data-co2-intensity="{{ include.co2-intensity }}"
>
    <h5 class="card-header" id="{{ include.id }}">
        {% if include.flag-url %}
            <img src="{{ include.flag-url }}" class="mr-2 country-flag" alt="Vlajka země či území: {{ include.name }}" />
        {% endif %}
        {{ include.name }}
    </h5>
    <div class="card-content-container">
        <div class="card-body mix-triangle">
            <img src="/assets-local/figures/2023-reserse-transformace-mixu/{{ include.id }}.svg" alt="Ternární graf zobrazující proměnu mixu výroby elektřiny v čase" />
        </div>
        <div class="card-body mix-figures">
            <dl>
                <dt class="mix-fossil">Fosilní paliva</dt>
                <dd class="mix-fossil">{{ include.fossil | replace_first: ".", "," }} %</dd>
                <dt class="mix-nuclear">Jádro</dt>
                <dd class="mix-nuclear">{{ include.nuclear | replace_first: ".", "," }} %</dd>
                <dt class="mix-renewables">Obnovitelné zdroje</dt>
                <dd class="mix-renewables">{{ include.renewables | replace_first: ".", "," }} %</dd>
                <dt>Hrubá roční výroba</dt>
                <dd>{{ include.production | replace_first: ".", "," }} TWh</dd>
                <dt>{% if include.net-imports >= 0 %}Čistý import{% else %}Čistý export{% endif %}</dt>
                <dd>
                {% if include.net-imports -%}
                    {{ include.net-imports | abs | replace_first: ".", "," }} TWh
                {%- else -%}
                    —
                {%- endif %}
                </dd>
                <dt>Emisní intenzita</dt>
                <dd>{{ include.co2-intensity | replace_first: ".", "," }} t CO<sub>2</sub>eq/MWh</dd>
            </dl>
        </div>
        <div class="card-body">
            {{ include.story | markdownify }}
        </div>
    </div>
</div>
