@font-face {
    font-family: 'Source Sans Pro';
    src: url('subset-SourceSansPro-Regular.woff2') format('woff2'),
        url('subset-SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('subset-SourceSansPro-It.woff2') format('woff2'),
        url('subset-SourceSansPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('subset-SourceSansPro-Bold.woff2') format('woff2'),
        url('subset-SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

