<ul class="list-group data-header">
    <li class="list-group-item"><span class="title">Zdroj</span><span class="text">{{ include.name }}</span></li>
    {% if include.description %}
    <li class="list-group-item"><span class="title">Popis</span><span class="text">{{ include.description }}</span></li>
    {% endif %}
    <li class="list-group-item"><span class="title">Odkaz</span><span class="text ellipsis"><a href="{{ include.url }}">{{ include.url }}</a></span></li>
    {% if include.doi %}
    <li class="list-group-item"><span class="title">DOI</span><span class="text ellipsis"><a href="{{ include.doi }}">{{ include.doi }}</a></span></li>
    {% endif %}
    <li class="list-group-item"><span class="title">Licence</span>
        <span class="text">
            {% if include.licence-url %}
            <a href="{{ include.licence-url }}">{{ include.licence }}</a>
            {% else %}
            {{ include.licence }}
            {% endif %}
            {% if include.licence-proof %}
            (viz. <a href="{{ include.licence-proof }}">informace o licenci</a>)
            {% endif %}
        </span>
    </li>
</ul>
