<div class="page-footer">
    <div class="container clearfix">
        <span class="float-left">
            <span class="tagline">{{ site.description }}</span><br/>
            Kontakt: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </span>
        <span class="float-right">
            &copy; 2019 faktaoklimatu.cz<br/>
            Poslední změna: <a class="no-ext-link-icon" href="https://github.com/mukrop/faktaoklimatu/commit/{{ site.git.commit_hash }}" title="commit {{ site.git.commit_hash_short}}">{{ site.git.commit_date }}</a>
        </span>
    </div>
</div>
