<footer>
    <div class="container clearfix">
        <span class="footer-left">
            <a class="no-ext-link-icon" href="{{ site.newsletter }}" title="Newsletter">
            <span class="fas fa-fw fa-envelope-open-text"></span> Odebírejte newsletter!</a><br/>
            <a class="no-ext-link-icon" href="https://twitter.com/{{ site.twitter }}" title="Twitter">
            <span class="fab fa-fw fa-twitter"></span> @{{ site.twitter }}</a><br/>
            <a class="no-ext-link-icon" href="mailto:{{ site.email }}" title="Kontaktní adresa">
            <span class="fas fa-fw fa-envelope"></span> {{ site.email }}</a><br/>
        </span>
        <span class="footer-right">
            &copy; 2020 Fakta o klimatu, z. ú.<br/>
            Poslední změna: <a class="no-ext-link-icon" href="{{ site.repo-url }}/commit/{{ site.git.commit_hash }}"
            title="commit {{ site.git.commit_hash_short }}">{{ site.git.commit_date }}</a><br/>
            GitHub: <a class="no-ext-link-icon" href="{{ site.repo-url }}">faktaoklimatu/web</a>
        </span>
    </div>
</footer>
