<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{{ page.title }}">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.caption %}
  <meta property="og:description" content="{{ page.caption }}">
  <meta name="twitter:description" content="{{ page.caption }}">
{% else %}
  <meta property="og:description" content="{{ page.intro }}">
  <meta name="twitter:description" content="{{ page.intro }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
{% case page.layout %}
{% when 'infographic' %}
  {% assign social_image = site.url | append: "/assets/infographics/" | append: page.slug | append: ".png" %}
{% when 'study' %}
  {% assign social_image = site.url | append: "/assets/studies/" | append: page.slug | append: ".jpg" %}
{% else %}
  {% assign social_image = site.url | append: "/assets/img/favicon.png" %}
{% endcase %}
<meta property="og:image" content="{{ social_image }}">
<meta name="twitter:image" content="{{ social_image }}">
<meta name="twitter:image:alt" content="{{ page.title }}">

<title>{{ page.title }}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142395596-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142395596-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W68JR6Z');</script>
<!-- End Google Tag Manager -->

<link href="{{ site.cdn.css }}" rel="stylesheet" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">
<link href="{{ site.baseurl }}/assets/css/main.css?{{ site.time | date: '%s' }}" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/fonts/source-sans-pro.css" rel="stylesheet">
<link href="{{ site.cdn.fa }}" rel="stylesheet" integrity="{{ site.cdn.fa_hash }}" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/assets/img/favicon.png">
