<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">

<title>{{ page.title }}</title>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W68JR6Z');</script>
<!-- End Google Tag Manager -->

<link href="{{ site.cdn.css }}" rel="stylesheet" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">
<link href="{{ site.baseurl }}/assets/css/main.css?{{ site.time | date: '%s' }}" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/fonts/source-sans-pro.css" rel="stylesheet">
<link href="{{ site.cdn.fa }}" rel="stylesheet" integrity="{{ site.cdn.fa_hash }}" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/assets/img/favicon.png">
