<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Fakta o klimatu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Zobrazit/skrýt navigaci">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug != 'index' %}/{% endif %}#home">Úvod</a>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Infografiky</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% assign sorted_sections = (site.sekce | where:"navbar","infographics" | sort: 'weight') %}
                        {% for section in sorted_sections %}
                          <a class="dropdown-item" href="{% if page.slug != 'index' %}/{% endif %}#{{ section.id }}">{{ section.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug != 'index' %}/{% endif %}#/sekce/studie">Studie</a>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ostatní</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/zdroje">Další zdroje a odkazy</a>
                        <a class="dropdown-item" href="/slovnik">Slovník pojmů</a>
                        <a class="dropdown-item" href="/aktuality">Aktuality</a>
                        <a class="dropdown-item" href="{% if page.slug != 'index' %}/{% endif %}#creators">O nás</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
