{% if include.blocks %}
<div class="row justify-content-md">
{% for item in include.blocks limit:include.limit %}
    <div class="col-md-6 col-lg-4">
        {% if forloop.index == include.limit and include.link %}
            {% if include.link == "news" %}
            <a href="{{ site.baseurl }}/aktuality" class="preview-card card">
            {% else %} 
            <a href="{{ site.baseurl }}/temata/{{ include.link.id }}" class="preview-card card">
            {% endif %}
        {% else %}
        <a href="{{ item.url }}" class="preview-card card">
        {% endif %}
            {% case item.layout %}
            {% when 'infographic' %}
                <img src="{{ site.baseurl }}/assets/infographics/{{ item.slug }}_600.png" alt="{{ item.title }}" title="{{ item.title }}" class="img-fluid" />
                <div class="card-img-overlay tags-overlay-box tags-gradient-background">
                    {% include tags.html tags=item.tags %}
                </div>
            {% when 'dataset' %}
                <img src="{{ site.baseurl }}/assets/datasets/{{ item.slug }}.png" alt="Dataset: {{ item.title }}" title="Dataset: {{ item.title }}" class="img-fluid card-img" />
                <div class="card-img-overlay card-dataset-overlay">
                  <h5 class="card-title">{{ item.title }}</h5>
                </div>
                <div class="card-img-overlay tags-overlay-box tags-gradient-background">
                    {% include tags.html tags=item.tags %}
                </div>
            {% when 'study' %}
                <div class="card-body">
                    <h5>{{ item.title }}</h5>
                    <p class="text-secondary">{{ item.study-institution }}, {{ item.study-year }}</p>
                    <p class="card-text">{{ item.caption }}</p>
                </div>
                <div class="card-img-overlay tags-overlay-box">
                    {% include tags.html tags=item.tags %}
                </div>
            {% else %}
                <p>Unknown layout.</p>
            {% endcase %}
            {% if forloop.index == include.limit and include.link %}
                <div class="card-img-overlay more-overlay-box {% if include.link == "news" %}news-overlay-box{% endif %}">
                    <div>
                        {% if include.link == "news" %}
                            <i class="fas fa-newspaper"></i>
                            <p>Zobrazit celý přehled novinek, oprav a aktualizací...</p>
                        {% else %}
                            <i class="fas fa-angle-double-right"></i>
                            <p>Další infografiky, studie a datasety k tématu <em>{{ include.link.name-long }}</em>...</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </a>
    </div>
{% endfor %}
</div>
{% endif %}
