<div class="row justify-content-md-center">
{% for item in include.blocks %}
    <div class="col-md-6 col-lg-4">
        <a href="{{ item.url }}" class="preview-card card">
            {% case item.layout %}
            {% when 'infographic' %}
                <img src="{{ site.baseurl }}/assets/infographics/{{ item.slug }}_600.png" alt="{{ item.title }}" title="{{ item.title }}" class="img-fluid" />
                <div class="card-img-overlay tags-overlay-box">
                    {% include tags.html tags=item.tags %}
                </div>
            {% when 'dataset' %}
                <img src="{{ site.baseurl }}/assets/datasets/{{ item.slug }}.png" alt="Dataset: {{ item.title }}" title="Dataset: {{ item.title }}" class="img-fluid card-img" />
                <div class="card-img-overlay card-dataset-overlay">
                  <h5 class="card-title">{{ item.title }}</h5>
                  {% include tags.html tags=item.tags %}
                </div>
            {% when 'study' %}
                <div class="card-body">
                    <h5>{{ item.title }}</h5>
                    <p class="card-text">{{ item.caption }}</p>
                    {% include tags.html tags=item.tags %}
                </div>
            {% else %}
                <p>Unknown layout.</p>
            {% endcase %}
        </a>
    </div>
{% endfor %}
</div>
