{% if include.tags %}
{% assign sorted_full_tags = site.data.tags | sort_czech: "name-short" | sort: "is-scope", "last" %}
<div class="tags {{ include.container-class }}">
    {% for tag in sorted_full_tags %}
        {% if include.tags contains tag.id %}
            {% if include.highlighted == tag.id %}
            <a href="/" role="button" class="btn btn-tag btn-sm btn-tag-highlighted">
            {% elsif include.link %}
            <a href="/temata/{{ tag.id }}" role="button" class="btn btn-tag btn-sm btn-tag-link">
            {% else %}
            <div class="btn btn-tag btn-sm">
            {% endif %}
            {% if include.name-long %}{{ tag.name-long }}{% else %}{{ tag.name-short }}{% endif %}
            {% if include.highlighted == tag.id or include.link %}</a>{% else %}</div>{% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
