{% if include.tags %}
{% assign sorted_full_tags = site.data.tags | sort_czech: "name-short" | sort: "is_scope", "last" %}
<div class="tags {{ include.container-class }}">
    {% for tag in sorted_full_tags %}
        {% if include.tags contains tag.id %}
            {% if include.link %}
                <a href="/temata/{{ tag.id }}" class="btn btn-tag btn-tag-link btn-sm" role="button">
            {% else %}
                <div class="btn btn-tag btn-sm">
            {% endif %}
            {% if include.friendly-name %}{{ tag.name-long }}{% else %}{{ tag.name-short }}{% endif %}
            {% if include.link %}</a>{% else %}</div>{% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
