---
layout:      single-section-page
title:       "Slovník pojmů"
slug:        slovnik
intro:       "Stručný přehled nejčastěji používaných hesel a zkratek s krátkým vysvětlením či komentářem."
search_id:   glossary
search_type: "Slovník"
---
{%- assign sorted_glossary = site.data.glossary | sort_localized: "name-short" -%}

<!-- FIXME dodělat markdownify filtr a upravit glossary.yml --#McZ_2019-10-02 -->

<p class="perex">{{ page.intro }}</p>

<ul class="inline-bullet-list">
    {%- for item in sorted_glossary %}
    <li><a href="#{{ item.id }}">{{ item.name-short }}</a></li>
    {%- endfor %}
</ul>

{% for item in sorted_glossary %}
<h3 id="{{ item.id }}">{{ item.name-short }}{% if item.name-long %}<span class="lead"> ({{ item.name-long }})</span>{% endif %}</h3>
{{ item.description | markdownify }}
{% endfor %}
