---
layout:      empty
title:       "Další zdroje a odkazy"
slug:        zdroje
intro:       "Rozcestník odkazů na stránky vybraných výzkumných institucí, relevantních knih, repozitářů dat i projektů vizualizující data."
search_id:   resources
search_type: "Zdroje"
---
<div class="section">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="perex narrow-text">{{ page.intro }}</p>
        {% for res in site.data.resources %}
        <a href="#{{ res[0] }}" class="btn btn-secondary"><i class="{{ res[1].icon }} fa-fw"></i> {{ res[1].name }}</a>
        {% endfor %}
    </div>
</div>

{% for res in site.data.resources %}
<div class="section">
    <div class="container">
        <h2 class="mb-5" id="{{res[0]}}">{{res[1].name}}</h2>
        {% for item in res[1].items %}
        <div class="row resources">
            <div class="col-12 col-sm-3 col-lg-2">
                {% if item.url %}<a href="{{ item.url }}" class="no-ext-link-icon">{% endif %}
                    <img src="/assets-local/resources/{{ item.image }}" class="img-fluid" alt="{{ item.title }}">
                {% if item.url %}</a>{% endif %}
            </div>
            <div class="col-12 col-sm-9 col-lg-8">
                <h2 class="mt-0">
                    {% if item.url %}<a href="{{ item.url }}">{% endif %}
                        {{ item.title }}
                    {% if item.url %}</a>{% endif %}
                </h2>
                {% for m in item.meta %}
                <span class="text-secondary mr-2">{{ m[0] }}: <b>{{ m[1] }}</b></span>
                {% endfor %}
                <p class="lead">{{ item.description-short }}</p>
                {{ item.description-long | markdownify }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
