{% assign facility = include.facility %}
<div class="card status-{{ facility.status }}" id="{{ facility.name | slugify: "latin" }}">
    <div class="card-body">
        <div>
            <h4>{{ facility.name_details }}</h4>
            <h3>{{ facility.name }}</h3>
            <p class="status-line">
                {% include includes-local/dashboard-teplaren/status-icon.html status=facility.status %}
                {{ facility.status_text }}
            </p>
            <p class="notes">{{ facility.notes }}<br><span class="small">Vlastník: {{ facility.owner }}</span></p>
        </div>
        <dl class="stats">
            <dt class="households">Vytápěné domácnosti</dt>
            <dd class="households-number{% if facility.num_households %} zero{% endif %}">
                <i class="fa-solid fa-house-fire"></i>
                <b>{{ facility.num_households | round_signif: 2 | format_number }}</b>
            </dd>
            {% if facility.share_households %}
            <dd class="households-share detail"><b>{{ facility.share_households }} %</b></span> domácností </dd>
            {% endif %}
            {% if facility.munis_supplied %}
            <dd class="munis-supplied detail">{{ facility.munis_supplied }}</dd>
            {% endif %}
            {% if facility.other_heating %}
            <dd class="other-heating"><b>+ {{ facility.other_heating }}</b></dd>
            {% endif %}
            {% if facility.x and facility.y %}
            <dt class="map detail">
                <div>
                    <img src="/assets-local/figures/{{ page.slug }}/mapa-cr.svg" alt="Obrys mapy Česka">
                    <div class="locator" style="left: {{ facility.x }}%; top: {{ facility.y }}%;"></div>
                </div>
            </dt>
            {% endif %}
            <dt class="emissions mt-3">Emise skleníkových plynů</dt>
            <dd class="emissions-number">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <b>{{ facility.emissions_latest | round_signif: 2 | format_number | default: "–"}}</b>&nbsp;Mt&nbsp;CO&#8288;<sub>2</sub>&#8288;eq
            </dd>
            {% if facility.emissions_note %}
            <dd class="emissions-note">{{facility.emissions_note}}</dd>
            {% endif %}
                    </dl>
        <dl class="fuels">
            {% if facility.fuels_main_today %}
            <dt>V současnosti využívá</dt>
            <dd class="fuels-today">
                {% for fuel in facility.fuels_main_today %}
                {% include includes-local/dashboard-teplaren/palivo.html fuel-code=fuel %}
                {% endfor %}<br>
                {% if facility.fuels_secondary_today %}
                <div class="detail">
                    <p class="secondary mt-1 mb-1">Vedlejší paliva: <br></span>
                    {% for fuel in facility.fuels_secondary_today %}
                        {% include includes-local/dashboard-teplaren/palivo.html fuel-code=fuel secondary=true %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
            {% if facility.fuels_main_future %}
            <dt class="mt-3">Plánuje využívat</dt>
            <dd class="fuels-future">
                {% for fuel in facility.fuels_main_future %}
                {% include includes-local/dashboard-teplaren/palivo.html fuel-code=fuel %}
                {% endfor %}<br>
                {% if facility.fuels_secondary_future %}
                <div class="detail">
                    <p class="secondary mt-1 mb-1">Vedlejší paliva: <br></span>
                    {% for fuel in facility.fuels_secondary_future %}
                        {% include includes-local/dashboard-teplaren/palivo.html fuel-code=fuel secondary=true %}
                    {% endfor %}
                </div>
                {% endif %}
            </dd>
            {% endif %}
            {% if facility.ippc_permits %}
            <dt class="detail mt-4">Zařízení dle integrovaného povolení (IPPC)</dt>
            <dd class="detail">
                <ul class="fa-ul ippc">
                    {% for permit in facility.ippc_permits %}
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-file-contract"></i></span><a href="{{ permit.url }}">{{ permit.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </dl>
        <dl class="subsidies small">
            {% if facility.mf_subsidies %}
                <dt>Dotace z Mod. fondu</dt>
                <dd class="mf-total">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <b>{{ facility.mf_subsidies_total | format_number }}</b>&nbsp;mil. Kč
                </dd>
                <div class="mf-per-household mb-3 detail"><b>{{ facility.mf_subsidies_per_household | format_number }}</b> Kč/vytápěnou dom.</div>
                {% if facility.chp_subsidies and facility.chp_subsidies_total_accepted > 0 %}
                <dd class="not-detail">+ provozní podpora pro {{ facility.chp_subsidies_total_accepted }} MW</dd>
                {% endif %}
                {% for subsidy in facility.mf_subsidies %}
                <dd class="detail">
                    <div title="{{ subsidy.long_name | escape }}" data-toggle="tooltip">{{ subsidy.name }}</div><b>{{ subsidy.amount | format_number }} mil. Kč</b>
                    {% if subsidy.paid_percent > 0 %}
                    <span class="mf-paid">({{ subsidy.paid_percent | format_number }} % vyplaceno)</span>
                    {% endif %}
                </dd>
                {% endfor %}
                </ul>
            {% else %}
                <dt>Žádné dotace z Modern. fondu</dt>
                <dd class="mf-total"><b class="zero">0</b>&nbsp;Kč</dd>
                {% if facility.chp_subsidies and facility.chp_subsidies_total_accepted > 0 %}
                <dd class="not-detail">+ provozní podpora pro {{ facility.chp_subsidies_total_accepted }} MW</dd>
                {% endif %}
            {% endif %}
            {% if facility.chp_subsidies and facility.chp_subsidies_total_accepted > 0 %}
                <dt class="detail mt-3">Provozní podpora KVET</dt>
                {% for subsidy in facility.chp_subsidies %}
                {% if subsidy.status == "accepted" %}
                <dd class="detail">
                    {{ subsidy.fuel }} (od {{ subsidy.since }})<br>
                    <strong>{{ subsidy.power }} MWe</strong>
                </dd>
                {% endif %}
                {% endfor %}
            {% endif %}
        </dl>
        <p class="details-toggle" role="presentation">
            <button type="button" class="btn btn-link not-detail" onclick="$(this).closest('.card').addClass('details-shown');"><i class="fas fa-angle-down"></i> Více informací</button>
            <button type="button" class="btn btn-link detail" onclick="$(this).closest('.card').removeClass('details-shown');"><i class="fas fa-angle-up"></i> Méně informací</button>
        </p>
    </div>
</div>
