{% if include.lulucf %}
{% assign targets-lulucf-text = ", včetně LULUCF" %}
{% else %}
{% assign targets-lulucf-text = ", bez LULUCF" %}
{% endif %}
<div
    class="card"
    data-name="{{ include.name }}"
>
    <h5 class="card-header" id="{{ include.code }}">
        {% if include.flag-url %}
        <img
            src="{{ include.flag-url }}"
            class="country-flag"
            alt="Vlajka země: {{ include.name }}"
            title="{{ include.name }}"
        />
        {% endif %}
        {{ include.name }}
    </h5>
    <section class="summary">
        <div class="card-body">
            <p>
                <b>Cíle v redukci emisí skleníkových plynů:</b>
                {%- if include.targets -%}
                <br>(oproti roku {{ include.reference-year }}{{ targets-lulucf-text }})
                {% endif -%}
            </p>
            <p>{{ include.targets | default: "Žádné" }}</p>
        </div>
        <div class="card-body">
            <p class="font-weight-bold">Obsah:</p>
            <ul class="checklist">
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Uhlíkové rozpočty"
                    yes=include.budgets
                    helper="Je stanoveno povolené množství vypuštěných emisí pro určité období."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Plánování"
                    yes=include.plans
                    helper="Vláda nebo odpovědný ministr má povinnost vytvářet průběžné plány pro dosažení stanovených cílů."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Reporting"
                    yes=include.reporting
                    helper="Odpovědný ministr vládě nebo vláda parlamentu musí průběžně podávat zprávy o dosaženém pokroku."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Poradní orgán"
                    yes=include.advisory
                    helper="Skupina expertů z různých odvětví, které nezávisle na vládě sledují a hodnotí postup vlády a vydávají doporučení."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Účast veřejnosti"
                    yes=include.public
                    helper="Veřejnost je zapojena do tvorby klimatické politiky. Formou konzultace přijímaných opatření, akčních plánů, uhlíkových rozpočtů, podávání vlastních návrhů atd."
                %}
            </ul>
        </div>
    </section>
    <section class="card-body footer">
        {% if include.notes %}
        <p markdown="1">
            <i class="fas fa-lightbulb" title="Zajímavost"></i>{{ include.notes }}
        </p>
        {% endif %}
        <p>
            <i class="fas fa-scroll" title="Poslední verze legislativního aktu"></i><a href="{{ include.url }}"><cite>Původní legislativní akt</cite></a>
            ({{ include.law-year }})
        </p>
    </section>
</div>
