{% assign targets-html = include.targets | default: "Žádné" %}
{% if include.targets and include.no-lulucf %}
    {% assign targets-html = targets-html | replace: "%", "% <span title='Cíl nezahrnuje emise z využívání půdy a lesnictví (tzv. LULUCF)' data-toggle='tooltip'>*</span>" %}
{% endif %}
<div
    class="card"
    data-name="{{ include.name }}"
>
    <h5 class="card-header" id="{{ include.code }}">
        {% if include.flag-url %}
        <img
            src="{{ include.flag-url }}"
            class="country-flag"
            alt="Vlajka země: {{ include.name }}"
            title="{{ include.name }}"
        />
        {% endif %}
        {{ include.name }}
    </h5>
    <section class="summary">
        <div class="card-body">
            <p>
                <b>Cíle v redukci emisí skleníkových plynů:</b>
                {%- if include.targets -%}
                <br>(oproti roku {{ include.reference-year }})
                {% endif -%}
            </p>
            <p>{{ targets-html }}</p>
        </div>
        <div class="card-body">
            <p class="font-weight-bold">Obsah:</p>
            <ul class="checklist">
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Uhlíkové rozpočty"
                    yes=include.budgets
                    helper="Je stanoveno, jaké množství emisí smí být za určité období vypuštěno."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Plánování"
                    yes=include.plans
                    helper="Vláda nebo odpovědný ministr má povinnost vytvářet průběžné plány vedoucí k dosažení stanovených cílů."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Reporting"
                    yes=include.reporting
                    helper="Odpovědný ministr musí průběžně vládě (nebo vláda parlamentu) podávat zprávy o dosaženém pokroku."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Poradní orgán"
                    yes=include.advisory
                    helper="Skupina expertů a expertek z různých odvětví – nezávisle sledují a hodnotí postup vlády a vydávají doporučení."
                %}
                {% include includes-local/klimaticke-zakony/checklist-item.html
                    label="Účast veřejnosti"
                    yes=include.public
                    helper="Veřejnost je zapojena do klimatické politiky – vyjadřuje se k přijímaným opatřením, akčním plánům a uhlíkovým rozpočtům nebo podává vlastní návrhy."
                %}
            </ul>
        </div>
    </section>
    <section class="card-body footer">
        {% if include.notes %}
        <p markdown="1">
            <i class="fas fa-lightbulb" title="Zajímavost"></i>{{ include.notes }}
        </p>
        {% endif %}
        <p>
            <i class="fas fa-scroll" title="Poslední verze legislativního aktu"></i><a href="{{ include.url }}">Původní legislativní akt</a>
            ({{ include.law-year }})
        </p>
    </section>
</div>
