/* Common HTML tags */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #000080;
    font-size: 1.0rem;
    background: #F7F7F7;
    position: relative;
    min-height: 100vh;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    body {
        text-align: left;
    }
}

h1 {
    font-weight: bold !important;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold !important;
    text-transform: uppercase;
}

a {
    color: #000080;
    text-decoration: underline;
    cursor: pointer;
}

/* Core design: sectioning, header, footer, buttons */

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section:nth-of-type(odd) {
    background: white;
}

.navbar-scrolled {
    box-shadow: 0 3px 10px #e2e2ff;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #000080;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:  #000000;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    font-weight: bold;
    color: #000080;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-custom {
    background: #F7F7F7;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #E7E7E7;
    color: #303030;
    font-size: 80%;
}

.page-footer .tagline {
    text-transform: uppercase;
}

.page-footer .float-right {
    text-align: right;
}

.page-footer a {
    color: #303030;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1b1bff;
    border-color: #1b1bff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1b1bff;
    border-color: #1b1bff;
}

/* Intro page customizations */

.intro .tagline {
    text-transform: uppercase;
    text-align: right;
    float: left;
    width: 15.2rem;
    margin-top: 1rem;
}

.intro h1 {
    font-size: 4.5rem;
}

.intro p {
    font-size: 1.5rem;
    padding-left: 19rem;
    margin-top: -3.5rem;
}

@media screen and (max-width: 768px) {
    .intro .tagline {
        float: none;
        text-align: center;
        display: inline-block;
        width: 100%;
        word-spacing: 0;
        margin-bottom: 1rem;
    }

    .intro h1 {
        text-align: center;
    }

    .intro p {
        padding-left: 0;
        margin-top: 0;
    }
}

/* Infographic section/page customizations */

a.infographic {
    display: block;
    overflow: hidden;
}

/* We cut ~3.5% from sides, ~13.5% from top and 5.3% from bottom */
/* Note that all margin percentages bind to the _width_ */
img.infographic {
    margin: -9.7% -3.75% -3.75% -3.75%;
    max-width: 107.5%;
}

p.caption {
    font-size: 1.2rem;
    font-style: italic;
}

.col-infographic {
    padding-top: 15px;
}

img.infographic-thumb {
    border-style: solid;
    border-width: 3px;
    border-color: #E7E7E7;
}

img.infographic-thumb:hover {
    border-color: #000080;
}

.download-buttons {
    text-align: left;
}

.dropdown-links a {
    font-size: 1.4rem;
    text-decoration: none;
}

/* Intro page -- currently unused */

.persons-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.person-card {
    width: 12rem;
    float: left;
    margin: 1rem;
}

.partners-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.partner-logo {
    float: left;
    margin: 2rem;
}

.projects-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project {
    width: 15rem;
    float: left;
    margin: 1rem;
}
