---
layout:     empty
title:      "Aktuality"
slug:       aktuality
intro:      "Stručný přehled novinek, oprav a aktualizací na našem webu."
---

<div class="section">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.intro }}</p>
        <p class="lead">Chcete dostávat pravidelné aktualizace přes email? Přihlašte se k odběru našeho newslettru: Krátký sumář novinek na našem webu maximálně jednou za měsíc (a spíše méně často).</p>

        <form class="subscription-form" action="https://tinyletter.com/faktaoklimatu" target="_blank" method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Vaše emailová adresa:</span>
                </div>
                <input type="text" class="form-control" placeholder="email@email.cz" name="email" id="tlemail" aria-label="Emailová adresa" />
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" value="Přihlásit se k odběru novinek" />
                </div>
            </div>
        </form>
         
    </div>
</div>

<div class="section news">
    <div class="container">
    {% assign sorted_news = site.data.news | sort: "date" | reverse %}
    {% for item in sorted_news %}
        <div class="news-item">
            <div class="d-block d-md-inline-block date">
                <p>{{ item.date | date: "%-d. %-m. %Y" }}</p>
            </div>
            <div class="d-inline-block summary">
            {% if item.title %}
                <h2>{{ item.title }}</h2>
            {% endif %}
                {{ item.summary | markdownify }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
