---
layout: empty
title: Fakta o klimatu
slug: index

intro-heading: Fakta o změně<br>klimatu
intro-tagline: Veřejně dostupné infografiky a datasety
intro: |
    Shromažďujeme data o klimatu a klimatické změně, která poskytují vědecké instituce (ČHMÚ, NASA, Eurostat a jiné) a zpracováváme z nich grafy a infografiky pro další použití.

authors-heading: O nás a myšlenka projektu
authors: |
    Jsme akademici, doktorandi, klimatologové, IT profesionálové nebo studenti. Sami jsme si zkusili vyhledat data o teplotě či emisích, najít určité informace v mnohasetstránkových zprávách IPCC nebo původních článcích. Jde to, ale musíte umět dobře anglicky, musíte si dohledávat spoustu souvislostí a stojí to spoustu času.
    
    Rozhodli jsme se proto, že tu práci, kterou jsme s hledáním dat sami měli, ostatním ušetříme – zpracujeme infografiky, dáme odkazy na původní data i naše zpracované datasety na jedno místo a doplníme základní souvislosti. A dáme je k dispozici všem, pro koho budou užitečné. Doufáme, že se postupně tyto informace dostanou ke všem, kterých se změny klimatu týkají. Tedy ke všem.

    Lidé, kteří výrazně přispěli k podobě tohoto webu a dat, které na něm vidíte: Ondráš Přibyla, Martin Ukrop, Kristi Zákopčanová, Martin crysman Zahradník, Marek Lahoda, Olda Sklenář, Jeňa Krčál, Tom Protivinský, Tom Pšorn, Martin Set Křivánek a mnozí další. Úplný seznam lidí, kteří pomohli, byť i s drobnostmi, [najdete zde](https://github.com/mukrop/faktaoklimatu/blob/master/CONTRIBUTORS.md).
---
<div class="section intro pb-4">
    <div class="container">
        <h1 id="home">{{ page.intro-heading }}</h1>
        <span class="tagline">{{ page.intro-tagline }}</span>
        <p>{{ page.intro }}<br/>
            <a href="/aktuality" class="btn btn-secondary mt-3"><i class="fas fa-fw fa-newspaper"></i> Aktuality</a>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="btn btn-secondary mt-3"><i class="fab fa-fw fa-twitter"></i> Twitter</a>
            <a href="{{ site.newsletter }}" target="_blank" class="btn btn-secondary mt-3"><i class="fas fa-fw fa-envelope-open-text"></i> Newsletter</a>
        </p>
        <div style="margin-left: 19rem">
            {% include tags-index.html tags=site.data.tags_categorized.tags-scopes tag-class='font-weight-bold' %}
            {% include tags-index.html tags=site.data.tags_categorized.tags-topics %}
        </div>
    </div>
</div>


{% assign sorted_sections = site.sekce | sort: 'weight' %}
{% for section in sorted_sections %}
    <div class="section">
        <div class="container">
        {{ section.output }}
        </div>
    </div>
{% endfor %}

<div class="section">
    <div class="container">
        <h1 id="pages">Ostatní stránky</h1>
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-4">
                <a href="/zdroje" class="preview-card card">
                    <div class="card-body">
                        <h5>Další zdroje a odkazy</h5>
                        <p class="card-text">Rozcestník odkazů na stránky vybraných výzkumných institucí, repozitářů dat i projektů vizualizující data.</p>
                        <button class="btn btn-primary btn-block"><i class="fas fa-fw fa-globe"></i> Další zdroje a odkazy</button>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <a href="/slovnik" class="preview-card card">
                    <div class="card-body">
                        <h5>Slovník pojmů</h5>
                        <p class="card-text">Stručný přehled nejčastěji používaných hesel a zkratek s krátkým vysvětlením či komentářem. Slovník postupně dopracováváme.</p>
                        <button class="btn btn-primary btn-block"><i class="fas fa-fw fa-book"></i> Slovník pojmů</button>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <a href="/aktuality" class="preview-card card">
                    <div class="card-body">
                        <h5>Aktuality</h5>
                        <p class="card-text">Stručný přehled novinek, oprav a aktualizací na našem webu.</p>
                        <button class="btn btn-primary btn-block"><i class="fas fa-fw fa-newspaper"></i> Aktuality</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1 id="creators">{{ page.authors-heading }}</h1>
        {{ page.authors | markdownify }}
    </div>
</div>
