<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    {% if page.cover %}
    <div class="cover-header" style="background-image: url(/assets/img/{{ page.cover }});">
    {% endif %}
    <div class="section">
      <div class="container clearfix">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-10">
            <h1>{{ page.title }}</h1>
            {% if page.perex %}
            <p class="perex explainer-perex">
              {{ page.perex }}
            </p>
            {% endif %}
            <div class="explainer-metadata">
              <span class="author">{{ page.author }}</span>
              <span class="date">{{ page.published | date: "%-d. %-m. %Y" }}</span>
              {% include tags.html tags=page.tags link="true" %}
              {% assign download_path = site.baseurl | append: "/assets/studies/" | append: page.slug %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if page.cover %}
    </div>
    {% endif %}
    <div class="section">
      <div class="container container-xl-fluid">
        <div class="row justify-content-center">
          <div class="longread-xl-space-left"></div>
          <div class="col-lg-4 longread-toc invisible">
            <div class="sticky-toc">
              <h2>Obsah</h2>
              <div id="TOC"></div>
            </div>
          </div>
          <div class="longread-xl-space-middle"></div>
          <div class="col-lg-8 longread">
            {{ content }}
          </div>
          <div class="longread-xl-space-right"></div>
        </div>
      </div>
    </div>
    {% assign objects = site.infografiky | concat: site.studie | where_exp: "item", "item.tags contains page.tags-topics[0]"
    | where_exp:"item","item.slug != page.slug" | sample: 3 %}
    {% if objects.size > 0 %}
    <div class="section">
      <div class="container">
        <h2>Související infografiky a studie</h2>
        <p>Zaujala vás tato studie? Prozkoumejte další související infografiky a studie:</p>
        {% include preview-blocks.html blocks=objects limit=3 %}
      </div>
    </div>
    {% endif %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
