<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="100">
  {% include navigation.html %}
  <main role="main">
    <div class="section intro">
        <div class="container">
          <h1 id="home">{{ page.intro-heading }}</h1>
          <span class="tagline">{{ page.intro-tagline }}</span>
          <p>{{ page.intro }}</p>
        </div>
    </div>
    {% assign sorted_sections = site.sekce | sort: 'weight' %}
    {% for section in sorted_sections %}
      <div class="section">
          <div class="container">
            {{ section.output }}
          </div>
      </div>
    {% endfor %}

    <div class="section" id="creators">
        <div class="container">
          <h1 id="creators">{{ page.authors-heading }}</h1>
          {{ page.authors | markdownify }}
        </div>
    </div>
    
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
