<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
        <div class="container">
          <h1 class="intro">Fakta o změně<br>klimatu</h1>
          <span class="intro-motto">Veřejně dostupné infografiky a datasety</span>
          <p class="intro-about">TOTO JE <strong>PRACOVNÍ VERZE</strong> URČENÁ PRO ZÍSKÁVÁNÍ ZPĚTNÉ VAZBY od cílových uživatelů. Shromažďujeme data o klimatu a klimatické změně, která poskytují vědecké instituce (ČHMÚ, NASA, Eurostat a jiné) a zpracováváme z nich grafy a infografiky pro další použití. Budeme rádi za vaši zpětnou vazbu: <a href="mailto:{{ site.contact }}">{{ site.contact }}</a> </p>
        </div>
    </div>
    {% assign sorted_sections = site.categories.sections | sort: 'weight' %}
    {% for section in sorted_sections %}
      <div class="section" id="{{ section.id }}">
          <div class="container">
            {{ section.output }}
          </div>
      </div>
    {% endfor %}

    <!--
    <div class="section" id="datasets">
        <div class="container">
          <h1>Datové sady</h1>
            <p>Všechna naše práce je podložena daty. Chceš si je projít důkladněji?</p>
            <a href="" class="btn btn-primary">Datové sady</a>
        </div>
    </div>
    -->

    <!--
    <div class="section" id="projects">
        <div class="container">
          <h1>Další projekty</h1>

            <div class="projects-grid d-flex justify-content-around align-content-between flex-wrap">
                <a href="https://example.com">
                    <div class="card project">
                        <img src="https://picsum.photos/id/1044/200/200" class="card-img-top" alt="TBD">
                        <div class="card-body">
                            <p class="card-text"><b>Extinction Rebellion</b><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
                <a href="https://example.com">
                    <div class="card project">
                        <img src="https://picsum.photos/id/1054/200/200" class="card-img-top" alt="TBD">
                        <div class="card-body">
                            <p class="card-text"><b>Fridays for Future</b><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
                <a href="https://example.com">
                    <div class="card project">
                        <img src="https://picsum.photos/id/1064/200/200" class="card-img-top" alt="TBD">
                        <div class="card-body">
                            <p class="card-text"><b>People</b><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="section" id="partners">
        <div class="container">
          <h1>Partneři</h1>

            <div class="partners-grid d-flex justify-content-around align-content-between flex-wrap">
                <a href="https://example.com" class="partner-logo"><img src="https://camo.githubusercontent.com/e4923bf90c04345e43aada42486ebc4f9a3e56eb/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f677265656e732d666f6f642d737570706c696572732e737667" /></a>
                <a href="https://example.com" class="partner-logo"><img src="https://camo.githubusercontent.com/b9d65aaf5e5d1769f8bb0e04247ff6cfa0efa2ab/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f666173742d62616e616e612e737667" /></a>
                <a href="https://example.com" class="partner-logo"><img src="https://camo.githubusercontent.com/e4eb289d352d7c4cbb8493d6a212448036e3e2d2/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f796f67612d626162792e737667" /></a>
                <a href="https://example.com" class="partner-logo"><img src="https://camo.githubusercontent.com/e4923bf90c04345e43aada42486ebc4f9a3e56eb/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f677265656e732d666f6f642d737570706c696572732e737667" /></a>
            </div>
        </div>
    </div>
    -->

    <div class="section" id="creators">
        <div class="container">
          <h1>Myšlenka projektu a tvůrci</h1>

            <!--
            <div class="persons-grid d-flex justify-content-around align-content-between flex-wrap">
                <div class="card person-card">
                    <img src="https://picsum.photos/id/1044/200/200" class="card-img-top" alt="TBD">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card person-card">
                    <img src="https://picsum.photos/id/1054/200/200" class="card-img-top" alt="TBD">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card person-card">
                    <img src="https://picsum.photos/id/1064/200/200" class="card-img-top" alt="TBD">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card person-card">
                    <img src="https://picsum.photos/id/1074/200/200" class="card-img-top" alt="TBD">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            -->
            <p>Jsme studenti, doktorandi, akademici nebo IT profesionálové. Sami jsme si zkusili vyhledat data o teplotě či emisích, najít určité informace v mnohasetstránkových zprávách IPCC nebo původních článcích. Jde to, ale zabere to hodně času, musíte umět dobře anglicky a musíte si dohledávat spoustu souvislostí. Běžný novinář nebo politik (ani bězný čech) většinou nemá tolik trpělivosti nebo dostatečnou úroveň angličtiny a tak si data nevyhledá. Rozhodli jsme se proto, že tu práci, kterou jsme s hledáním dat měli, ostatním ušetříme - zpracujeme infografiky, dáme odkazy na původní data i naše zpracované datasety na jedno místo a doplníme základní souvislosti a dáme je k dispozici všem, pro koho budou užitečné. A doufáme, že se postupně tyto informace dostanou ke všem, kterých se změny klimatu týkají. Tedy ke všem.</p>
            
            <p> Lidé, kteří přispěli v různých formách podobě tohoto webu a dat, které na něm vidíte: Ondáš Přibyla, Martin Ukrop, Marek Lahoda, Martin crysman Zahradník, Petr Novotný, Kristýna Zakopčanová, Daniel Rychlý, Jan Drábek, Marko Řeháček a další.</p>
            <p>Kontaktovat nás můžete na e-mailové adrese <a href="mailto:{{ site.contact }}">{{ site.contact }}</a>.</p>
        </div>
    </div>

    <!--
    <div class="section" id="contact">
        <div class="container">
          <h1>Kontakt</h1>

            <p>Kontaktovat nás můžete na e-mailové adrese <a href="mailto:{{ site.contact }}">{{ site.contact }}</a> a nebo skrze formulář níže.</p>

            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-6">
                    <form action="https://formspree.io/{{ site.contact }}" method="post">
                        <div class="form-group">
                            <label for="email">Vaše e-mailová adresa</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Váš e-mail">
                        </div>
                        <div class="form-group">
                            <label for="message">Vaše zpráva</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Odeslat</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
