<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container">
        <h1>{{ page.title }}</h1>
        {% include tags.html tags=page.tags link="true" %}
        {% assign download_path = site.baseurl | append: "/assets/generated/" | append: page.slug %}
        <div class="row" markdown="on">
            <div class="col-md-12 col-lg-9">
            <a class="infographic" id="infographic-fullscreen" href="{{ download_path }}_1920.png">
              <img class="infographic" src="{{ download_path }}_1200.png" alt="{{ page.title }}">
            </a>
            <hr/>
            <p class="caption">{{ page.caption }}</p>
            </div>

            <div class="col-md-12 col-lg-3 download-buttons">
              <div class="d-none d-lg-block">
                <h2>Ke stažení</h2>
                <p>Líbí se vám naše infografika? Stáhněte si ji a používejte dál! (<a href="/jak-pouzivat#v-jakm-formtu-sthnout-nae-infografiky">Který formát vybrat?</a>)</p>
                {% include infographic-dataset-sidebar.html section="downloads" %}
                <hr />

                {% if page.dataset or page.data-our or page.data-orig %}
                  <h2>Podkladová data</h2>
                  {% include infographic-dataset-sidebar.html section="data" %}
                  <hr />
                {% endif %}

                <h2>Sdílení a licence</h2>
                <p>Všechny naše infografiky jsou k dispozici pro <a href="/jak-pouzivat" title="Jak používat naše materiály">další použití</a> pod licencí <a href="https://creativecommons.org/licenses/by/4.0/deed.cs" title="Creative Commons Uveďte původ 4.0 Mezinárodní" rel="license">CC BY 4.0</a>.</p>
                {% include infographic-dataset-sidebar.html section="sharing" %}
              </div>
              <div class="d-lg-none download-buttons-smallscreen">
                <h2>Data, licence a sdílení</h2>
                <p>Podívejte se na podkladová data nebo infografiku sdílejte. Všechny naše infografiky jsou k dispozici pod licencí <a href="https://creativecommons.org/licenses/by/4.0/deed.cs" title="Creative Commons Uveďte původ 4.0 Mezinárodní" rel="license">CC BY 4.0</a>. <a href="/jak-pouzivat" title="Jak používat naše materiály">Přečtěte si</a>, jak je správně používat a citovat.</p>
                <div class="d-flex d-lg-none align-items-center mt-2 text-secondary">
                  <div>Stažení</div>
                  <div class="ml-auto text-right">
                    {% include infographic-dataset-sidebar.html section="downloads" %}
                  </div>
                </div>
                <hr class="w-100 my-0">
                {% if page.dataset or page.data-our or page.data-orig %}
                  <div class="d-flex d-lg-none align-items-center text-secondary">
                    <div>Data</div>
                    <div class="ml-auto text-right">
                      {% include infographic-dataset-sidebar.html section="data" %}
                    </div>
                  </div>
                  <hr class="w-100 my-0">
                {% endif %}
                <div class="d-flex d-lg-none align-items-center text-secondary">
                  <div>Sdílení</div>
                  <div class="ml-auto text-right">
                    {% include infographic-dataset-sidebar.html section="sharing" %}
                  </div>
                </div>
              </div>
              <div class="modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="modal-title">Jak správně odkazovat faktaoklimatu.cz?</h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h2>Odkazy na infografiku</h2>
                      Chcete-li odkazovat na tuto infografiku, odkazujte prosím na stránku s průvodním textem, ne pouze na obrázek (garantujeme dlouhodobou funkčnost URL stránky, ne však obrázku). Pro aktuální infografiku to vypadá následovně:
                      <div class="embed-example-caption">
                        <a href="{{ page.url }}" target="_blank">{{ page.title }}</a>
                      </div>
                      <pre class="highlight"><code>&lt;a href="{{ site.url }}{{ page.url }}" target="_blank" rel="noopener"&gt;{{ page.title }}&lt;/a&gt;</code></pre>
                      <h2>Přímé použití infografiky</h2>
                      Jestli chcete, můžete na svůj web či jiný projekt použít přímo <strong>staženou</strong> infografiku. Použitá licence však vyžaduje uvést název, autora, zdroj a licenci. Pro aktuální infografiku to vypadá následovně:
                      <div class="embed-example-caption">
                        <a href="{{ page.url }}" target="_blank" rel="noopener">{{ page.title }}</a> od autora <a href="{{ site.url }}" target="_blank" rel="noopener">Fakta o klimatu</a>, licencovaný pod <a href="https://creativecommons.org/licenses/by/4.0/deed.cs" class="no-ext-link-icon" target="_blank" rel="noopener">CC BY 4.0</a>.
                      </div>
                      <pre><code>&lt;a href="{{ site.url }}{{ page.url }}" target="_blank"&gt;{{ page.title }}&lt;/a&gt; od autora &lt;a href="{{ site.url }}" target="_blank"&gt;Fakta o klimatu&lt;/a&gt;, licencovaný pod &lt;a href="https://creativecommons.org/licenses/by/4.0/deed.cs" target="_blank">CC BY 4.0&lt;/a&gt;.</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% assign objects = site.infografiky | concat: site.studie | where_exp: "item", "item.tags contains page.tags-topics[0]"
    | where_exp:"item","item.slug != page.slug" | sample: 3 %}
    {% if objects.size > 0 %}
    <div class="section">
      <div class="container">
        <h2>Související infografiky a studie</h2>
        <p>Zaujala vás tato infografika? Prozkoumejte další související infografiky a studie:</p>
        {% include preview-blocks.html blocks=objects limit=3 %}
      </div>
    </div>
    {% endif %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
