<h1 id="{{ page.id }}">{{ page.title }}</h1>
{{ content }}
{% assign sorted_items = site.infografiky | concat: site.studie | where_exp:"item","item.tags contains page.filter-tag" | sort: 'weight' %}
<div class="row justify-content-md-center">
{% for item in sorted_items %}
    <div class="col-md-6 col-lg-4 homepage-card">
        <a href="{{ item.url }}">
            {% case item.layout %}
            {% when 'infographic' %}
                <img src="{{ site.baseurl }}/assets/infographics/{{ item.slug }}_600.png" alt="{{ item.title }}" title="{{ item.title }}" class="img-fluid" />
            {% when 'study' %}
                <div class="card-body">
                    <h5>{{ item.title }}</h5>
                    <p class="card-text">{{ item.caption }}</p>
                </div>
            {% else %}
                <p>Unknown layout.</p>
            {% endcase %}
        </a>
    </div>
{% endfor %}
</div>
