<div class="container">
    <div class="row">
        <div class="col-6">
            {{ content }}
        </div>
        <div class="col-6">
            {% capture tag %}{{ page.id | slugify }}{% endcapture %}

            {% assign sorted_graphics = site.categories.graphics | sort: 'weight' %}
            {% for graphics in sorted_graphics %}
                {% if graphics.tags contains tag %}
                    {% if forloop.first %}
                        <div class="row" style="padding: 3px">
                    {% else %}
                        <div class="col-4" style="padding: 3px">
                    {% endif %}
                        <!--<a href="{{ graphics.url }}">{{ graphics.title }}</a>-->
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#{{ graphics.url }}">
                                <img src="{{site.baseurl}}/{{ graphics.image }}" alt="{{ graphics.title }}" class="img-fluid" />
                            </button>
                        </div>
                    {% if forloop.first %}<div class="row justify-content-md-center">{% endif %}
                    {% if forloop.last %}</div>{% endif %}

                <!-- Modal -->
                <div class="modal fade" id="{{ graphics.url }}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document" width="100%" >
                    <div class="modal-content">
                      
                        <div class="modal-header">
                          <h2 class="modal-title" id="exampleModalLabel">{{ graphics.title }}</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-1">
                                <a class="carousel-control left" href="#/current/prev" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                            </div>
                            <div class="col-10">
                                <img src="{{site.baseurl}}/{{ graphics.image }}" alt="{{ graphics.title }}" class="img-fluid" />
                                <p>{{ graphics.caption }}</p>
                            </div>
                            <div class="col-1">
                                <a class="carousel-control right" href="#/current/next" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>

                    </div>
                  </div>
                </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

