<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container">
        <h1>{{ page.title }}</h1>
        {% include tags.html tags=page.tags link="true" %}
        <p class="lead">{{ page.intro }}</p>

        {{ content }}
      </div>
    </div>
    {% assign related = site.infografiky | concat: site.studie | where_exp: "item", "item.tags contains page.tags-topics[0]"
    | where_exp:"item","item.slug != page.slug" | sample: 3 %}
    {% if related.size > 0 %}
    <div class="section">
      <div class="container">
        <h2>Související infografiky a studie</h2>
        <p>Zaujal vás tento rozcestník? Prozkoumejte další související infografiky a studie:</p>
        {% include preview-blocks.html blocks=related limit=3 %}
      </div>
    </div>
    {% endif %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
