<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container clearfix">
        <h1>{{ page.title }}</h1>
        {% assign download_path = site.baseurl | append: "/assets/studies/" | append: page.slug %}
        <div class="row">
          <div class="col-sm-12 col-md-7 col-lg-8 lead">
            <p>{{ page.caption }}</p>
            <h2>Hlavní závěry</h2>
            {{ page.summary | markdownify }}
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4 study-metadata">
            <div class="card">
              <img src="{{ download_path }}.jpg" class="card-img-top" alt="{{ page.title }}" title="{{ page.study-title }} ({{ page.study-year}})">
              <div class="card-body">
                <h2 class="card-title">{{ page.study-title }}</h2>
                <ul>
                  {% if page.study-author %}<li><strong>Autor</strong>: {{ page.study-author }}</li>{% endif %}
                  {% if page.study-institution %}<li><strong>Instituce</strong>: {{ page.study-institution }}</li>{% endif %}
                  {% if page.study-year %}<li><strong>Rok vydání</strong>: {{ page.study-year }}</li>{% endif %}
                  {% if page.study-isbn %}<li><strong>ISBN</strong>: {{ page.study-isbn }}</li>{% endif %}
                  {% if page.study-doi %}<li><strong>DOI</strong>: <a href="https://doi.org/{{ page.study-doi }}" target="_blank">{{ page.study-doi }}</a></li>{% endif %}
                </ul>
                {% if page.study-url %}<a href="{{ page.study-url }}" target="_blank" id="study-link" class="btn btn-primary">Web studie</a>{% endif %}
                {% if page.study-pdf %}<a href="{{ page.study-pdf }}" target="_blank" id="study-link" class="btn btn-primary">PDF studie</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
        <div class="container clearfix">
        {{ content }}
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>