<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container clearfix">
        <h1>{{ page.title }}</h1>
        {% assign download_path = site.baseurl | append: "/assets/studies/" | append: page.slug %}

        <div class="col-md-12 col-lg-3 study-metadata">
          <a href="{{ page.srclink }}" target="_blank" id="study-link" title="{{ page.study-title }} ({{ page.study-year}})">
            <img src="{{ download_path }}.jpg" alt="{{ page.title }}">
          </a>
          <a href="{{ page.srclink }}" target="_blank" id="study-link" class="btn btn-primary" role="button" download>Původní studie</a>
          <h2>{{ page.study-title }}</h2>
          <ul>
            <li>Název: {{ page.study-title }}</li>
            <li>Autor: {{ page.study-author }}</li>
            <li>Vydal: {{ page.study-publisher }}</li>
            <li>Rok vydání: {{ page.study-year }}</li>
          </ul>
        </div>
        {{ content }}
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
