<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main" id="page-tag">
    <div class="section">
      <div class="container clearfix">
        <h1>Štítek: {{ page.title }}</h1>
        <p class="lead">Na této stránce najdete všechny infografiky, studie a datasety se štítkem "{{ page.title }}".</p>
        {% for col in page.collections %}
          <h2>{{col[0]}} <small class="text-muted">({{ col[1]|size }})</small></h2>
          {% assign sorted_items = col[1] %}
          {% include preview-blocks.html blocks=sorted_items %}
        {% endfor %}
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
