<div class="barvy-vodiku" markdown="1">

{% include figure.html folder="i-barvy-vodiku" name="vodik-zeleny.svg" alt="Piktogram zeleného vodíku" no-lightbox=true %}
**Zelený** – produkován štěpením vody pomocí elektrolýzy, veškerá potřebná energie pochází z obnovitelných zdrojů
{% include figure.html folder="i-barvy-vodiku" name="vodik-ruzovy.svg" alt="Piktogram růžového vodíku" no-lightbox=true %}
**Růžový** – získáván elektrolýzou za pomoci elektřiny a tepla z jaderných elektráren
{% include figure.html folder="i-barvy-vodiku" name="vodik-modry.svg" alt="Piktogram modrého vodíku" no-lightbox=true %}
**Modrý** – vyráběn ze zemního plynu, ale emise z tohoto procesu jsou zachyceny a následně uloženy či využity
{% include figure.html folder="i-barvy-vodiku" name="vodik-sedy.svg" alt="Piktogram šedého vodíku" no-lightbox=true %}
**Šedý** – produkován ze zemního plynu bez zachytávání CO<sub>2</sub> (v současnosti zatím zdaleka nejběžnější způsob výroby)

{%- if include.white %}
{:.mt-4}
**Bílý** - vyskytuje se pod zemí již v čisté formě a je tedy možné jej těžit. Doposud je však reálně využívané pouze jediné naleziště v africkém Mali, další jsou ve fázi explorace či přípravy na těžbu. Jde o poměrně neprobádanou oblast, situace se tedy může v blízké době celkem rychle změnit.
{%- endif %}
</div>
