@use "sass:color";

$c-teplarny-done: #1c7a96;
$c-teplarny-in-progress: #ffcb6e;
$c-teplarny-problematic: #c65163;
$c-teplarny-problematic-bg: #fff1ef;

$c-teplarny-grey: #999999;
$c-teplarny-dark-grey: #737373;
$c-teplarny-light-grey: #b4b4b4;
$c-teplarny-uhli: $c-teplarny-problematic;
$c-teplarny-ostatni: $c-teplarny-light-grey;

.perex {
    margin-bottom: .5rem;
}

#simple-dashboard {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 2rem;

    // DESKTOP ADJUSTMENT
    @media (min-width: 992px) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 1rem;
    }

    h2 {
        grid-row: 1/2;
        grid-column: 1/3;
        padding-bottom: 1rem;
    }

    #map {
        grid-column: 1/3;
        grid-row: 2/3;
        z-index: 9;

        // DESKTOP ADJUSTMENT
        @media (min-width: 992px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        align-self: start;

        text {
            font-family: 'Source Sans Pro';
            paint-order: stroke;
            stroke: white;
            stroke-width: 3px;
        }

        a.facility {
            text-decoration: none;
            fill: #3e3e4d;

            .facility-name {
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    #status-cards {
        grid-column: 1/3;
        grid-row: 3/4;

        // DESKTOP ADJUSTMENT
        @media (min-width: 992px) {
            grid-column: 1/2;
            grid-row: 2/4;

        }
    }

    #subsidies-cards {
        grid-column: 1 / 3;
        grid-row: 4 / 5;

        // DESKTOP ADJUSTMENT
        @media (min-width: 992px) {
            grid-column: 2/3;
            grid-row: 2/4;
            justify-self: end;
            max-width: 40%;
        }

        h3 {
            color: #3a3a45;
        }
    }

    .card {
        //border: 1px solid var(--status-color);
        border: none;
        background: none;
        border-radius: .6rem;
        margin-block: .5rem;
        --status-color: grey;
        font-size: 1.1rem;

        h3 {
            margin-bottom: .375rem;
            font-size: 1.1rem;
            line-height: 1.3rem;
            color: var(--status-color);

            i {
                font-size: 1.3rem;
            }
        }

        p {
            margin: 0;
            color: $c-teplarny-dark-grey;

            i {
                opacity: .6;
            }
        }

        .card-body {
            padding-left: 0;
        }
    }

    .status-done {
        --status-color: #{$c-teplarny-done};
    }

    .status-in-progress {
        --status-color: #{$c-teplarny-in-progress};
    }

    .status-problematic {
        //background: $c-teplarny-problematic-bg;
        --status-color: #{$c-teplarny-problematic};
    }

    .card-body {
        padding: .5rem .5rem .25rem;
    }

}

#controls-status {
    display: flex;
    flex-flow: wrap;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    font-size: .9rem;
    line-height: 1.3;
    text-transform: uppercase;

    padding-top: .75rem;
    padding-bottom: .5rem;
    border-top: 1px solid $c-teplarny-light-grey;
    gap: 1rem;

    p {
        grid-row: 1/2;
        color: $c-teplarny-dark-grey;
        margin-bottom: 0rem;
    }

    .forms {
        font-weight: 600;
        grid-row: 2/3;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
    }

    .form-check {
        display: flex;
        align-items: center;
        gap: .4rem;
    }

    .form-check-input {
        margin-top: 0;
    }

    label {
        color: var(--status-color);
    }

    input {
        accent-color: var(--status-color);
    }

    .status-done {
        --status-color: #{$c-teplarny-done};
    }

    .status-in-progress {
        --status-color: #{color.scale($c-teplarny-in-progress, $lightness: -30%)};
    }

    .status-problematic {
        --status-color: #{$c-teplarny-problematic};
    }
}

#tabulka-dashboard-teplaren {
    display: flex;
    flex-direction: column;

    .card {
        padding: 1.2rem 1.5rem;
        border: 2px solid #d9d9d9;
        border-radius: .75rem;
        --status-color: grey;
    }

    // Card displaying problematic facilities
    .status-problematic {
        border: 2px solid var(--status-color);
        background-color: $c-teplarny-problematic-bg;

        .notes::after {
            background: linear-gradient(to bottom, transparent, $c-teplarny-problematic-bg);
        }
    }

    .card-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        column-gap: 2rem;
        padding: 0rem;
        padding-bottom: 1.25rem;

        h3 {
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: bold;
            color: #3e3e4d;
            margin-top: .2rem;
            margin-bottom: .4rem;
            grid-row: 2/3;
            grid-column: 1/3;
        }

        .owner-label {
            span{
                margin-left: auto;
                font-size: .9rem;
                text-transform: none;
                color: $c-teplarny-dark-grey;
                line-height: 2;
            }
        }

        h4 {
            margin-bottom: 0;
            grid-row: 1/2;
            grid-column: 1/3;
        }

        h4,
        .stats>dt,
        .fuels>dt,
        .subsidies>dt,
        .owner-label {
            margin-top: 0;
            font-size: .9rem;
            line-height: 1.2;
            font-weight: normal;
            color: $c-teplarny-dark-grey;
            text-transform: uppercase;
        }

        .stats {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }

        .fuels {
            grid-row: 4 / 6;
        }

        .status-line {
            grid-column: 1/3;
        }

        .notes {
            grid-column: 1 / 3;
            grid-row: 6 / 7;
        }

        // DESKTOP ADJUSTMENT
        @media (min-width: 992px) {
            grid-template-columns: 2fr 1fr 1fr 1fr;
            grid-template-rows: none;
            grid-auto-flow: row;

            .status-line,
            h4,
            h3,
            .notes {
                grid-column: 1/2;
                grid-row: 1/-1;
                position: relative;
            }

            h3 {
                top: 1rem;
            }

            .status-line {
                top: 3.7rem;
            }

            .notes {
                top: 6rem;
            }

            .stats {
                grid-column: 2/3;
                grid-row: auto;
            }

            .fuels {
                grid-column: 3/4;
                grid-row: auto;
            }

            .subsidies {
                grid-column: 4/5;
                grid-row: auto;
            }

            .stats,
            .fuels,
            .subsidies {
                grid-row: 1/3;
            }
        }
    }

    .status-line {
        font-weight: bold;
        color: var(--status-color);
    }

    .status-icon {
        margin-right: .3em;
        font-size: 1.3em;
        vertical-align: -.1em;
    }

    .status-done {
        --status-color: #{$c-teplarny-done};
    }

    .status-in-progress {
        --status-color: #{$c-teplarny-in-progress};
    }

    .status-problematic {
        --status-color: #{$c-teplarny-problematic};
    }

    .notes {
        position: relative;
        max-height: 3em;
        overflow: hidden;
        font-size: 1.1rem;
    }

    .notes::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5em;
        /* adjust how much of the fade you want */
        background: linear-gradient(to bottom, transparent, white);
        pointer-events: none;
        /* allows clicking through the overlay */
    }

    .details-toggle .btn {
        position: absolute;
        bottom: .3rem;
        margin: 0;
        padding: .375em 0;
        font-size: .7em;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .02em;
        grid-column: 1/2;

        i {
            margin-right: .2em;
            vertical-align: -.1em;
        }
    }

    .map {
        margin-bottom: 2rem
    }

    .map img {
        opacity: 0.4;
    }

    .map>div {
        display: inline-block;
        position: relative;

        .locator {
            position: absolute;
            width: .7rem;
            height: .7rem;
            border-radius: 100%;
            background: var(--status-color);
        }
    }

    .badge-fuel {
        margin-bottom: 0.2rem;
        padding: .3rem .5rem;
        background: $c-teplarny-light-grey;
        color: white;
        font-size: .8rem;
        font-weight: 600;
    }

    // Palivo: Zásobování odjinud
    .fuel-alt {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Bioplyn
    .fuel-biogas {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Biomasa
    .fuel-biomass {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Koksárenský plyn
    .fuel-cokegas {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Černé uhlí
    .fuel-hardcoal {
        background-color: $c-teplarny-uhli;
    }

    // Palivo: TTO
    .fuel-hho {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: LTO
    .fuel-lho {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Hnědé uhlí
    .fuel-lignite {
        background-color: $c-teplarny-uhli;
    }

    // Palivo: Hutní plyn
    .fuel-metgas {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Komunální odpad
    .fuel-msw {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Zemní plyn
    .fuel-natgas {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Jaderné teplo
    .fuel-nuclear {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: TAP
    .fuel-srf {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Energoplyn
    .fuel-syngas {
        background-color: $c-teplarny-ostatni;
    }

    // Palivo: Odpadní teplo
    .fuel-wasteheat {
        background-color: $c-teplarny-ostatni;
    }

    .fuel-secondary {
        opacity: .6;
        background-color: white;
        border: 1px solid #999;
        color: #999;
    }

    .subsidies {
        div[title]{
            cursor: pointer;
        }
    }

    .detail {
        display: none;
    }

    .details-shown {
        .card-body{
            padding-bottom: 0rem;
        }
        .detail {
            display: block;
        }

        .not-detail {
            display: none;
        }

        .notes {
            max-height: initial;
        }

        .notes::after {
            display: none;
        }
    }

    // Stats values

    .households-number,
    .emissions-number,
    .mf-total {
        font-size: 1.6rem;
        margin-bottom: 0rem;
        margin-top: 0.2rem;
        line-height: 1.5;
        display: inline-flex;
        align-items: center;

        i {
            font-size: 1.2rem;
            color: $c-teplarny-dark-grey;
            margin-right: 0.3em;
        }
    }

    .fuels {

        .secondary {
            font-size: .9rem;
            color: $c-teplarny-grey;
        }

        dt {
            margin-bottom: 0.4rem;
        }

        .fuels-today {
            min-height: 2.175rem; //optical aligment to neighbour cell
        }

    }

    .emissions-note,
    .other-heating {
        font-size: .9rem;
        line-height: 1.3;
    }

    .emissions-note {
        color: $c-teplarny-grey;
    }

    .other-heating {
        color: #3a3a45;
    }

    .mf-per-household {
        font-size: 0.9rem;
        color: $c-teplarny-dark-grey;
        margin-bottom: 0.8rem !important;
    }

    .mf-paid {
        color: $c-teplarny-light-grey;
        font-size: 0.75rem;
        padding-left: 0.5rem;
    }

    .chp {
        margin-top: 1.6rem;
    }

    .households-share {
        font-size: 0.9rem;
        color: $c-teplarny-dark-grey;
        margin-bottom: 0rem;
    }

    .munis-supplied {
        font-size: 0.9rem;
        color: $c-teplarny-grey;
    }

    .ippc {
        margin-left: 0;
        color: $c-teplarny-grey;
        font-size: .9rem;

        a {
            color: $c-teplarny-grey;
        }

        li {
            padding: 0;
            margin-left: 1.5em;
        }
    }
}

// MOBILE ADJUSTMENT
@media (max-width: 991px) {

    #status-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    #controls-status {

    p {
        width: 100%;
    }
    
    }

    #tabulka-dashboard-teplaren {
        .notes {
            max-height: initial;
            overflow: visible;
        }

        .notes::after {
            display: none;
        }

        .card-body {
            padding-bottom: 0;
        }
    }

    .details-toggle {
        display: none;
    }

    #controls-status {
        margin-bottom: 1rem;
    }
}
